body{
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}
.topbar{
    
    font-size: x-large;
    height: 50px;
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    width: 100%;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}



#vallie{
    font-style: italic;
    margin-top: 15px ;
    margin-right: 180px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rent{
    margin-right: 30px;
    margin-bottom: 30px;
}

#Rent{
    margin-right: 30px;
}

#Land{
    margin-right: 30px;
}

#Agent{
    margin-right: 30px;
}

#Contact_us{
    margin-right: 30px;
    width: 190px;
}

#rent{
    margin-right: 30px;
}

#BUT1{
    margin-left: 150px;
    color: aliceblue;
    background-color: blue;
    border-radius: 10px;
    font-size: medium;
    height: 50px;
    font-weight: bold;
    border-style: none;
    width: 150px;
    margin-top: 30px;
}
.bar2{
    width: 100%;
    height: 500px;
    /* background-color: blue; */
    margin-top: 50px;
}
.helping{
    height: 70%;
    width: 70%;
    margin-top: 30px;
    padding: 5px;
    font-size: large; 
}

#image5{
    float: right;
    margin-left: auto;
    height: 90%;
    width: 60%;
    margin-top: 10px;
}

#Helping{
    /* margin-top: -250px; */
    /* font-size: xx-large; */
    color: navy;
    font-weight: bold;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    width: 280px;
    text-align: center;
    margin-left: 50px;


}
.bbut{
display: flex;
justify-content: space-between;
width: 200px;
}

.bar3{
    margin-top: 50px;
    display: flex;
    width: 100%;
    
    justify-content: space-between;
}

#Creating{
 width: 320px;
 margin-left: 50px;
 font-size: large;
}

#learn{
    margin-left: 50px;
    color: aliceblue;
    background-color: blue;
    border-radius: 10px;
    font-size: medium;
    height: 30px;
    font-weight: bold; 
    border-style: none;
    margin-top: -30px;
}

#playicon{
    height: 30px;
    /* margin-left: 20px; */
}
#location{
    font-size: large;
}

.bar_4{
    text-align: center;
    width: 100%;
}

#bar-41{
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    justify-content: space-between;
    
}
.Find{
    display: block;
}
.Make{
    display: block;
}
.Location{
    display: block;
}
#imeji{
  height: 80px;  
}
.bar3 button{
    margin-left: 150px;
    color: aliceblue;
    background-color: blue;
    border-radius: 10px;
    font-size: medium;
    height: 50px;
    font-weight: bold;
    border-style: none;
    width: 150px;
    margin-top: 30px;
}

.Mk{
    margin-left: 10px;
    height: 150px;
    width: 250px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.Make{
    
    margin-left: 10px;
    height: 150px;
    width: 250px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.Find{
    margin-left: 10px;
    height: 150px;
    width: 250px;
    
}
/* #This{

    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */ */
.footer{
    display: block;
}
#bar_8{
    display: flex;
    color: aliceblue;
    background-color: blue;
    height: 290px;
    margin-top: 120px;
}
.footer{
    margin-left: 100px;
    width: 200px;
}
#Solution{
    width: 290px;
    
}
.uppernotch{
    display: flex;
}

#AlexGodwin{
    height: 200px;
    width: 300px;
    margin-left: 200px;
}
#bar5{
    /* display: flex; */
    width: 100%;
    height: 500px;
}
#bar5 img{
height: 70%;
width: 50%;
float: right;
}
#bar5 div{
    float: left;
    height: 50%;
    /* width: 70%; */
    margin-top: 30px;
}
#bar6{
    width: 100%;
}
#bar-6{
display: flex;
width: 100%;
justify-content: space-between;
}
#The_Palace img{
    height: 150px;
    width: 250px;
}
#bunt{
    width: 100%;
}
#bunt button{
    float: right;
}
#bar7{
margin-top: 130px;
text-align: center;
}
#nutty{
    width: 100%;
    margin-top: 20px;
}
#nutty button{
    float: right;
    margin-left: 150px;
    color: aliceblue;
    background-color: blue;
    border-radius: 10px;
    font-size: medium;
    height: 50px;
    font-weight: bold;
    border-style: none;
    width: 150px;
    margin-top: 30px;
   
}
.div{
    margin-left: 50px;
}
